.btn {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #c70101;
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		background-color: rgb(179, 4, 4);
	}
}
.btn-red {
	padding: 15px 45px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	&:hover {
		background-color: rgb(179, 4, 4);
	}
}
.request--btn {
	border-radius: 5px;
	background-color: #c70101;
	text-decoration: none;
	padding: 15px 43px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	max-width: 300px;
	&:hover {
		background-color: rgb(179, 4, 4);
	}
}
button {
	border: 0;
}
.btn-mini {
	width: 131px;
	height: 40px;
	font-size: 14px;
}
