// START INPUT
.col-75 {
	max-width: 75%;
	margin-top: 6px;
}

.form--social {
	margin-top: 15px;
	width: 300px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

// END INPUT
.request {
	max-width: 100%;
	min-height: 680px;
	background: url("../img/second-bg.jpg") center center / cover no-repeat;
}

.request__item {
	display: block;
}

.request__header {
	padding-left: 10px;
}

.request__title {
	padding-top: 100px;
	color: #ffffff;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
}

.request__sesc {
	max-width: 400px;
	margin-top: 80px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
}

.request__btn {
	margin-top: 20px;
}

@media screen and (max-width: 600px) {

	.col-25,
	.col-75,
	input[type="submit"] {
		max-width: 100%;
		margin-top: 10px;
	}
}